# Class_8

## Dioctionary that contain list

In [1]:
student = {
    "name" : "abdul ahad",
    "institute" : "Dhoraji",
    "age" : 29,
    "subject" : ["maths", "phy", "comp",]
    
}

In [2]:
student

{'name': 'abdul ahad',
 'institute': 'Dhoraji',
 'age': 29,
 'subject': ['maths', 'phy', 'comp']}

In [4]:
student["subject"]

['maths', 'phy', 'comp']

In [5]:
student["age"]

29

In [6]:
student["name"]

'abdul ahad'

In [9]:
student["institute"]

'Dhoraji'

In [10]:
student = {
    "name" : "abdul ahad",
    "institute" : "Dhoraji",
    "age" : 29,
    "subject" : [input("Enter subject 1"),input("Enter subject 2"),input("Enter subject 3")]
    
}

Enter subject 1math
Enter subject 2phy
Enter subject 3comp

In [11]:
student["subject"][1]

'phy'

In [12]:
student["subject"][2]

'comp'

In [13]:
student["subject"][0]

'math'

## Dictionary of Dictionary

In [15]:
database = {
    "abdul ahad" : {
        "name" : "abdul ahad",
        "age" : 23,
        "subject" : ["maths", "phy", "comp",]
    },
    
    "razzak" : {
        "name" : "razzak",
        "age" : 23,
        "subject" : ["maths", "phy", "comp",]
    },
}

In [20]:
database["abdul ahad"],

({'name': 'abdul ahad', 'age': 23, 'subject': ['maths', 'phy', 'comp']},)

In [21]:
database["razzak"]

{'name': 'razzak', 'age': 23, 'subject': ['maths', 'phy', 'comp']}

In [22]:
database["abdul ahad"]["subject"][0]

'maths'

In [23]:
database["razzak"]["subject"][0]

'maths'

## FUNCTIONS

In [31]:
def add_numbers():
    num1 = 2
    num2 = 4
    total = num1 + num4
    print(total)

In [38]:
def add_number():
    num = int(input("Enter number"))
    for i in range(1,11):
          print(str(num) + " * " + str(i) + " = " + str(i * num))

In [47]:
add_number()

Enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## passing information to function

In [40]:
def add_numbers(firstnum, lastnum):
    total = firstnum + lastnum
    print(total)

In [41]:
add_numbers(40, 40)

80